<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mappers.IPurchaseMapper">

	<select id="findAll" resultType="com.java.pojo.Purchase">
		select * from purchase
	</select>
	
	<insert id="doInsert" parameterType="com.java.pojo.Purchase">
		insert into purchase values(#{commodity_id},#{commodity_name},#{supplier_id},
		#{purchase_time},#{price},#{number})
	</insert>
</mapper>
