<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mappers.IAdmiMapper">
	<select id="checkLogin" resultType="com.java.pojo.Admi">
		select * from admi where admi_account=#{0} and admi_pwd=#{1}
	</select>
	
	<update id="changePwd">
	 update admi set admi_pwd=#{1} where admi_id=#{0}
	 </update>
</mapper>